.switch{
     margin-top: 18px;
    float: right;
    position: relative;
    /* display: inline-block; */
    width: 40px;
    height: 20px;
}

.switch input {
    display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19spx);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

 .col-md-8{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    width:66.66666667%;
    float:lefts
} 

#onofftab{
    color: white;
}

#mid{
    margin-top: 60px;
}

.form-control{
  border-style: solid;
  border-top: 20px;
}

.infobox{
  height: 150px;
  margin-bottom: 20px;  
}

.icon-resize {
  font-size: 70px;
}

.in-box-button{
  border-radius: 12px;
  background-color: white;
  border-color: gray;
}
